*{
    margin: 0;
}
.logo{
    width: 3%;
    height: 3%;
}
.logo2{
    width: 3%;
    height: 3%;
}
.bg-light{
    background-color: antiquewhite;
}
.card-img-top{
    height: 200px;
    width: 250px   
}
.admin_image{
    height: 75px;
   width:100px

}